* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  font-family: "Arial", sans-serif;
}
