header {
  position: absolute;
  top: 3px;
  left: 5%; /* default for collapsed */
  width: 94.5%; /* default */
  height: 10%;
  background-color: #0a171f;
  display: flex;
  z-index: 0;
  border-radius: 20px;
  transition:
    width 0.9s ease,
    left 0.9s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}
